.searchInput {
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    height: 12em;
}

.searchButton {
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    height: 12em;
}

.bar {
    width: 15%;
    background-color: white;
}